In [0]:
#Your first python line of code YAAHOO !
print('Hello Python world!')

Hello Python world!

*If* it works, congratulations! You just ran your first Python program.

- variables

In [0]:
#trying to store the message into a variable before printing it out
message = "Hello Python world!"
print(message)

message = "Python is my favorite language!"
print(message)

Hello Python world!
Python is my favorite language!

In [0]:
my_string = "This is a double-quoted string."
my_string = 'This is a single-quoted string.'

In [0]:
quote = "Linus Torvalds once said, \
         'Any program is only as good as it is useful.'"

MATH

In [0]:
#sum
2+3

5

In [0]:
#subtract 
2-6

-4

In [0]:
#multiply 
5*8

40

In [0]:
#division 
4/2

2.0

In [0]:
#power 
4**2

16

# -Lists

In [0]:
grades = ['A', 'B+', 'B']

In [0]:
count = len(grades)
print(count)

3

In [0]:
grades.append('B-')
count = len(grades)
print("the list's elements are : {}".format(grades))
print('the length of the list is : {}'.format(count))

the list's elements are : ['A', 'B+', 'B', 'B-']
the length of the list is : 4

In [0]:
grades[0]

'A'

In [0]:
grades[:]

['A', 'B+', 'B', 'B-']

# LOOPS

In [0]:
cities = ['NewYork', 'Amman','Berlin']

for city in cities:
    print(city)

Amman
zarqa
irbid

In [0]:
# range(i , n , j) returns a list of numbers that goes from i to n with step value of j
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

#IF STATEMENTS

In [0]:
string = 'World'

if len(string) >= 5:
    print("long")
elif len(dogs) >= 3:
    print("medium")
elif len(dogs) >= 1:
    print("short")

long

In [0]:
names = ['lisa',  'sia', 'hala','ali']
for i in range(len(names)):
    if len(names[i]) > 3:
        print("{} is a long name".format(names[i]))
    else:
        print("{} is a short name".format(names[i]))

lisa is a long name
sia is a short name
hala is a long name
ali is a short name

# BECOME FUNCTIONAL PROGRAMMER

In [0]:
# Let's define a function.
def function_name():
    print('Hello World')

# Use function_name to call the function.
function_name()

Hello World

In [0]:
def show_students(students, message):
    # Print out a message, and then the list of students
    print(message)
    for student in students:
        print("- " + student.title())

In [0]:
show_students(['ahmad','ibrahim','haya'],'work hard or you will Fail !! ')

work hard or you will Fail !!
- Ahmad
- Ibrahim
- Haya

In [0]:
def get_number_word(number):
    # Takes in a numerical value, and returns
    #  the word corresponding to that number.
    if number == 1:
        return 'one'
    elif number == 2:
        return 'two'
    elif number == 3:
        return 'three'

In [0]:
get_number_word(1)

'one'

In [0]:
def adder(num_1, num_2, *nums):
    # This function adds the given numbers together,
    #  and prints the sum.
    
    # Start by adding the first two numbers, which
    #  will always be present.
    sum = num_1 + num_2
    
    # Then add any other numbers that were sent.
    for num in nums:
        sum = sum + num
        
    # Print the results.
    print("The sum of your numbers is %d." % sum)

    
# Let's add some numbers.
adder(1, 2)
adder(1, 2, 3)
adder(1, 2, 3, 4)
adder(1, 2, 3, 4, 5)

The sum of your numbers is 3.
The sum of your numbers is 6.
The sum of your numbers is 10.
The sum of your numbers is 15.